<div class="container theme-showcase" role="main">
  &nbsp;

  <div class="page-header">
    Create new home item
  </div>

  <%= render 'form' %>
  
</div>



<!-- <h1>New homeitem</h1>



<%= link_to 'Back', homeitems_path %> -->
